APPLE_PASSWORD=""
APPLE_SIGNING_IDENTITY="Developer ID Application: Your Name (TEAMID1234)"
APPLE_ID="developer@example.com"
APPLE_TEAM_ID="TEAMID1234"
APPLE_CERTIFICATE="BASE64_ENCODED_P12_CERTIFICATE"
APPLE_CERTIFICATE_PASSWORD=""
